
  .TextBox html,body{
    width: 100%;
    height: 100%;
    
    background: 
      /* top, transparent red */ 
  

      linear-gradient(
        rgba(6, 164, 238, 0.171), 
        rgba(0, 255, 255, 0.199)
      ),
      /* bottom, image */
      url(http://getwallpapers.com/wallpaper/full/1/a/c/1129419-widescreen-spongebob-squarepants-background-1920x1200-smartphone.jpg);
  }
